/*Configuração e estilização da janela modal*/

/*fundo do modal*/
.modal-content{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    visibility: hidden;
}

/*modal*/
.modal-box{
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    z-index: 9999;
    margin: 0 5%;
    text-align: center;
    color: var(--bg-color-primary);
    transform: scale(0.1);
    transition: transform 0.3s ease;
}

/*Classe que aumenta o tamanho do modal*/
.large{
    max-width: 800px;
}

/*Adicionando visibilidade ao modal*/
.modal-content.show{
    visibility: visible;
    opacity: 1;
}

/*Configuração para a animação do modal*/
.modal-content.show .modal-box{
    transform: scale(1);
}

/*Titulo do modal*/
.modal-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 1.5em;
}

/*Conteudo do modal*/
.modal-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 1.2em;
}

/*Botões do modal*/
.modal-buttons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
}

/*Estilização dos botões*/
.modalButton{
    max-width: 200px;
    width: 100%;
    min-height: 50px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--bg-color-green);
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
}

.modalButton.red{background-color: var(--bg-color-red);}

.modalButton:active{
    background-color: transparent;
    color: var(--bg-color-green);
    border: 1px solid var(--bg-color-green);
}

.modalButton.red:active{
    background-color: transparent;
    color: var(--bg-color-red);
    border: 1px solid var(--bg-color-red);
}

/*Estilização da caixa de notificação*/

/*Container da caixa de notificação*/
.notification-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    right: 50%;
    top: -100px;
    transform: translate(50%, 0);
    animation: slideIn 0.5s forwards;
}

/*Classe para animar a saida da caixa de notificação*/
.hide{
    top: 100px;
    animation: slideOut 0.5s forwards;
}

/*Animações*/
@keyframes slideIn {
    to {
        top: 100px;
    }
}

@keyframes slideOut {
    to {
        top: -100px;
    }
}

/*Estilização da caixa de notificação*/
.notification-box{
    min-width: 250px;
    max-width: 400px;
    padding: 10px;
    /*background-color: var(--bg-color-green);*/
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Texto do caixa*/
.notification-box p{
    width: 100%;
    word-wrap: break-word;
    font-weight: 300;
    font-size: 1.3rem;
}

/*Barra de progresso*/
.notification-box::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    animation: progressBar var(--duration) linear forwards;
}

/*Animação da barra de progresso*/
@keyframes progressBar {
    from {
    width: 100%;
    }
    to {
    width: 0%;
    }
}

/*Responsividade para telas menores*/
@media (max-width: 380px) {
    @keyframes slideIn {
    to {
        top: 70px;
    }
    }

    @keyframes slideOut {
    to {
        top: -70px;
    }
    }
    .hide{
    top: 70px;
}
}

/*-------------------------------------------------------------------------------------------------*/