/*Configuração da Área principal da página (carrossel e seção de itens)*/

/*Caixa fixa que contém o carrossel*/
.carousel-wrapper{
    display: flex;
    width: 100vw;
    overflow: hidden;
    flex: 1;
}

/*Carrosel que se moverá conforme a escolha do usuário*/
.carousel{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/*Slide individual*/
.container{
    max-width: 100vw;
    display: flex;
    flex: 0 0 100vw;
    padding: 0 2%;
    justify-content: center;
}

/*Conteúdo dentro do slide*/
.box-container{
    max-width: 1080px;
    width: 100%;
    margin-top: 50px;
}

/*-------------------------------------------------------------------------------------------------*/