/*Configurações globais do projeto*/

/*Font*/
@font-face {
    font-family: "oswald-font";
    src: url('../fonts/Oswald-VariableFont_wght.ttf') format("truetype");
}

/*Variáveis*/
:root{
    --bg-color-primary: #10b7ff;
    --bg-color-second: #004f93;
    --bg-color-green: #39c039;
    --bg-color-red: #d34343;
    --duration: 3s;
}
/*Dark mode*/
:root.dark{
    --bg-color-primary: #46006a;
    --bg-color-second: #001533;
}

/*Padrão dos elementos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Largura e altura definida. Padrão de fonte aplicado*/
html, body {
    width: 100%;
    height: 100%;
    font-family: "oswald-font", sans-serif;
}

/*Configuração do corpo do documento*/
body{
    display: flex;
    min-height: 100vh;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(var(--bg-color-primary), var(--bg-color-second));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*-------------------------------------------------------------------------------------------------*/